[Desktop Entry]
Type=Application
Exec=/snap/bin/subl
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=/snap/bin/subl
Name=/snap/bin/subl
Comment[en_US]=
Comment=
